target/

*.iml
*.ipr
*.iws
.idea/
.vscode/
.bloop/
.bsp/
.metals/
metals.sbt

.settings/
.cache
.classpath
.project
.tool-versions

# OS X
Icon
Thumbs.db
.DS_Store

.history
credentials.sbt

src/test/resources/*.xml
