name: CI

on:
  push:
    paths-ignore:
      - '*.md'
    branches:
      - main
  pull_request:

jobs:
  scala:
    strategy:
      fail-fast: false # remove when PR is finished, just to make sure we don't make regression
      matrix:
        JDK: [ 8, 17 ]
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - name: Ignore line ending differences in git
        if: contains(runner.os, 'windows')
        shell: bash
        run: git config --global core.autocrlf false

      - name: checkout the repo
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.JDK }}
          distribution: temurin
          cache: sbt

      - name: run tests
        run: sbt generateXMLFiles test

      - name: run sbt-tests
        run: sbt prepareScripted scripted
